@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Navbar Start */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
  align-items: center;
  /* background-color: white;
  box-shadow: rgb(98 98 98 / 8%) 0px 5px 29px 3px; */
  padding-left: 60px;
  padding-right: 60px;
  z-index: 100000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.6s;
}

header.sticky {
  padding: 10px 0;
  background-color: white;
  box-shadow: rgb(98 98 98 / 8%) 0px 5px 29px 3px;
  padding-left: 60px;
  padding-right: 60px;
}

header.sticky .nav_link {
  color: #3c4b62;
}

header.sticky .nav_link:hover {
  color: #297cfb;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  align-items: center;
  display: flex;
}

.header_logo {
  color: #3c4b62;
  font-weight: 600;
  font-size: 1.3rem;
  margin-left: 5px;
  margin-top: 8px;
}

.nav_list {
  display: flex;
  align-items: center;
  /* padding-top: 80px; */
}

.nav_item {
  margin: 0 12px;
}

.nav_link {
  padding: 10px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  padding-top: 10px;
}

.nav_link:hover {
  color: #3c4b62;
}

.nav_link:active {
  color: #297cfb;
}

.header_toggle,
.header_close {
  display: none;
}

@media (max-width: 768px) {
  header {
    height: 48px;
    justify-content: space-between;
    padding: 55px 0;
    align-items: center;
    /* background-color: white;
  box-shadow: rgb(98 98 98 / 8%) 0px 5px 29px 3px; */
    padding-left: 50px;
    padding-right: 30px;
  }

  header.sticky {
    padding: 40px 0;
    background-color: white;
    box-shadow: rgb(98 98 98 / 8%) 0px 5px 29px 3px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo a {
    font-size: 0.9rem;
  }
  .logo img {
    width: 40px;
  }
  .header_toggle {
    display: inline;
    color: #677484;
    font-size: 28px;
  }

  .header_close {
    position: absolute;
    right: 24px;
    display: block;
    font-size: 24px;
    border-radius: 50px;
    transition: 0.5s;
  }

  .header_close:hover {
    color: #297cfb;
    background-color: white;
  }
  nav {
    position: fixed;
    top: 0;
    right: -100%;
    background-image: url(/Images/mobile_nav_bac.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    padding: 24px 0;
    z-index: 100;
    transition: 0.5s;
    /* border-radius: 40% 0 0 40%; */
  }

  .nav_link {
    color: rgb(255, 255, 255);
  }

  header.sticky .nav_link {
    color: #ffffff;
  }

  .nav_list {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
  }
  .nav_item {
    margin: 2rem 0;
  }
  .show {
    right: 0;
  }
}

/* Navbar End */
/* Home Head Start */

.Home_left_container {
  max-width: 1330px;
  margin: 0 auto;
  width: 100%;
  padding-left: 60px;
  padding-right: 30px;
}

.Home_right_container {
  max-width: 1330px;
  margin: 0 auto;
  width: 100%;
  padding-left: 30px;
  padding-right: 60px;
}

.home_heder_main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  padding: 10px;
  height: 100vh;
  background-image: url(/Images/home_back1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: -100px;
}

.home_heder_main > div {
  text-align: left;
}

.home_heder_main_right h1 {
  color: #297cfb;
  font-size: 48px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: -0.03em;
  margin-top: 10px;
}

.home_heder_main_right h2 {
  color: #677483;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.01em;
}
.home_heder_main_right p {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  text-align: left;
  max-width: 540px;
  color: #3c4b62;
  margin-top: 50px;
}

.home_btn_left {
  background-color: #297cfb;
  color: #ffffff;
  width: 140px;
  border-radius: 80px;
  margin-top: 60px;
  border: solid 1px #297cfb;
  height: 45px;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: #00000036 0px 5px 29px 3px;
  margin-right: 20px;
}

.home_btn_left:hover {
  background-color: #206fe9;
  color: #ffffff;
  width: 140px;
  border-radius: 80px;
  margin-top: 60px;
  border: solid 1px #206fe9;
  height: 45px;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: #00000036 0px 5px 29px 3px;
  cursor: pointer;
  margin-right: 20px;
}

.home_btn_right {
  background-color: white;
  color: #677483;
  width: 140px;
  border-radius: 80px;
  margin-top: 60px;
  border: solid 1px #fff;
  height: 45px;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: #0000001c 0px 5px 29px 3px;
}
.home_btn_right:hover {
  background-color: white;
  color: #297cfb;
  width: 140px;
  border-radius: 80px;
  margin-top: 60px;
  border: solid 1px #fff;
  height: 45px;
  font-size: 0.9rem;
  font-weight: 500;
  box-shadow: #0000001c 0px 5px 29px 3px;
  cursor: pointer;
}

.home_heder_main_right {
  margin-top: 230px;
}

.home_heder_main_left {
  margin-top: 270px;
}
.profile_circle {
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}

.home_heder_main_left {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_circle {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  box-shadow: rgba(4, 11, 35, 0.08) 0px 0px 32px 0px;
  text-align: center;
  border: 25px solid #fff;
  margin-top: -52px;
  z-index: 5;
}

.circle_google {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  margin-top: -530px;
  margin-left: -50px;
  border: 15px solid rgb(255, 255, 255);
  box-shadow: rgb(98 98 98 / 8%) 0px 5px 29px 3px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: circle_google 5s infinite ease alternate;
  transform-box: fill-box;
}

@keyframes circle_google {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(80px, 50px);
  }
}

.circle_google img {
  width: 100%;
}

.circle_linkdin {
  width: 60px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  border: 15px solid rgb(255, 255, 255);
  box-shadow: rgb(98 98 98 / 8%) 0px 5px 29px 3px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -320px;
  left: 50px;
  animation: circle_linkdin 5s infinite ease alternate;
  transform-box: fill-box;
}

@keyframes circle_linkdin {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100px, 0);
  }
}

.circle_linkdin img {
  width: 100%;
}

.circle_twitter {
  width: 55px;
  height: 55px;
  background-color: rgb(255, 255, 255);
  border: 10px solid rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 22%) 0px 5px 29px 3px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -125px;
  left: 400px;
  z-index: 7;
  animation: circle_twitter 5s infinite ease alternate;
  transform-box: fill-box;
}

@keyframes circle_twitter {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -50px);
  }
}

.circle_twitter img {
  width: 100%;
}

.circle_Speach_img {
  width: 150px;
  height: 150px;
  background-color: rgb(255, 255, 255);
  border: 10px solid rgb(255, 255, 255);
  box-shadow: rgb(98 98 98 / 8%) 0px 5px 29px 3px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -200px;
  left: 380px;
  z-index: 6;
  /* animation: circle_Speach_img 5s;
  transform-origin: center;
  transform-box: fill-box; */
}

/* @keyframes circle_Speach_img {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
} */

.circle_Speach_img img {
  width: 100%;
  border-radius: 50%;
}

.circle_youtube {
  width: 45px;
  height: 45px;
  background-color: rgb(255, 255, 255);
  border: 10px solid rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 22%) 0px 5px 29px 3px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 200px;
  left: 550px;
  z-index: 4;
  animation: circle_youtube 5s infinite ease alternate;
  transform-box: fill-box;
}

@keyframes circle_youtube {
  from {
    transform: translate(50px, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

.circle_youtube img {
  width: 100%;
}

@media (max-width: 768px) {
  .Home_left_container {
    max-width: 1330px;
    margin: 0 auto;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
  }

  .Home_right_container {
    max-width: 1330px;
    margin: 0 auto;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
  }

  .home_heder_main {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0px;
    height: 100vh;
    background-image: url(/Images/home_back_mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: -100px;
  }

  .home_heder_main_right h1 {
    font-size: 30px;
  }

  .home_heder_main_right h2 {
    font-size: 32px;
  }
  .home_heder_main_right p {
    margin-top: 25px;
    font-size: 16px;
    line-height: 28px;
  }

  .home_heder_main_right {
    margin-top: 160px;
  }

  .home_heder_main_left {
    margin-top: 200px;
  }
  .home_btn_right {
    margin-top: 26px;
    font-size: 0.8rem;
    height: 42px;
  }
  .home_btn_right:hover {
    margin-top: 26px;
    font-size: 0.8rem;
    height: 42px;
  }

  .home_btn_left {
    font-size: 0.8rem;
    height: 42px;
    margin-top: 40px;
  }
  .home_btn_left:hover {
    font-size: 0.8rem;
    height: 42px;
    margin-top: 40px;
  }

  .profile_circle {
    width: 300px;
    height: 300px;
    border: 10px solid #fff;
  }

  .circle_google {
    width: 70px;
    height: 70px;
    margin-top: -370px;
    margin-left: -20px;
    border: 15px solid rgb(255, 255, 255);
    animation: circle_google 5s infinite ease alternate;
    transform-box: fill-box;
  }
  @keyframes circle_google {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(30px, 20px);
    }
  }

  .circle_linkdin {
    width: 48px;
    height: 48px;
    border: 15px solid rgb(255, 255, 255);
    bottom: -260px;
    left: 30px;
    animation: circle_linkdin 5s infinite ease alternate;
    transform-box: fill-box;
    z-index: 7;
  }

  @keyframes circle_linkdin {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(-60px, 0);
    }
  }
  .circle_twitter {
    width: 45px;
    height: 45px;
    border: 10px solid rgb(255, 255, 255);
    top: -80px;
    left: 150px;
    z-index: 7;
    animation: circle_twitter 5s infinite ease alternate;
    transform-box: fill-box;
    box-shadow: rgb(98 98 98 / 8%) 0px 5px 29px 3px;
  }

  @keyframes circle_twitter {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(0, -50px);
    }
  }

  .circle_Speach_img {
    width: 120px;
    height: 120px;
    border: 5px solid rgb(255, 255, 255);
    bottom: -120px;
    left: 150px;
    /* animation: circle_Speach_img 5s;
    transform-origin: center;
    transform-box: fill-box; */
  }

  /* @keyframes circle_Speach_img {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  } */
  .circle_youtube {
    width: 30px;
    height: 30px;
    border: 5px solid rgb(255, 255, 255);
    bottom: 200px;
    left: 250px;
    animation: circle_youtube 5s infinite ease alternate;
    transform-box: fill-box;
    box-shadow: rgb(98 98 98 / 8%) 0px 5px 29px 3px;
  }

  @keyframes circle_youtube {
    from {
      transform: translate(30px, 0);
    }
    to {
      transform: translate(0, 0);
    }
  }
}

/* Home Head End */
