/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: rgb(40, 123, 247);
  background: linear-gradient(
    90deg,
    rgba(40, 123, 247, 1) 0%,
    rgba(35, 110, 221, 1) 100%
  );
  z-index: 100;
  transition: all 0.5s ease;
  /* box-shadow: rgb(116 116 116 / 7%) 0px 5px 29px 3px; */
}
.sidebar.close {
  width: 78px;
}
.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  /* background-color: rgb(255, 255, 255); */
  /* box-shadow: rgb(13 53 112 / 21%) 0px 5px 29px 3px; */
  /* border-bottom: 1px solid rgb(240, 240, 240); */
}
.sidebar .logo-details i {
  font-size: 30px;
  color: #ffffff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  transition: 0.1s ease;
  transition-delay: 0.3s;
}
.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links {
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover {
  background-color: #2a7cf9;
}
.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link {
  display: block;
}
.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li i:hover {
  color: rgb(255, 255, 255);
}
.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow {
  display: none;
}
.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name {
  font-size: 14px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  transition: all 0.4s ease;
}

.sidebar .nav-links li:hover a .link_name {
  color: rgb(255, 255, 255);
}
.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #ffffff;
  display: none;
  box-shadow: rgb(116 116 116 / 7%) 0px 5px 29px 3px;
}
.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
  background: #2982ff;
}
.sidebar .nav-links li .sub-menu a {
  color: #ffffff;
  font-size: 13px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
  color: #ffffff;
}
.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: #ffffff; */
  /* background: rgb(40, 123, 247);
  background: linear-gradient(
    90deg,
    rgba(40, 123, 247, 1) 0%,
    rgba(35, 110, 221, 1) 100%
  ); */
  padding: 12px 0;
  transition: all 0.5s ease;
  box-shadow: rgb(13 53 112 / 21%) 0px 5px 29px 3px;
  background: rgb(40, 123, 247);
  background: linear-gradient(
    90deg,
    rgba(40, 123, 247, 1) 0%,
    rgba(35, 110, 221, 1) 100%
  );
}
.sidebar.close .profile-details {
  background: none;
  box-shadow: rgb(13 53 112 / 21%) 0px 5px 29px 3px;
}
.sidebar.close .profile-details {
  width: 78px;
}
.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}
.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 50px;
  margin: 0 14px 0 12px;
  background: #ffffff;
  transition: all 0.5s ease;
  box-shadow: rgb(116 116 116 / 7%) 0px 5px 29px 3px;
  padding: 3px;
}
.sidebar.close .profile-details img {
  padding: 5px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  transition: all 1s ease;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none;
}
.sidebar .profile-details .job {
  font-size: 10px;
}
.home-section {
  position: relative;
  background: #ffffff;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #dbdbdb;
  font-size: 35px;
}
.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
  z-index: 1;
}
.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
}

/* -----Navbar Start-------- */

header {
  /* position: fixed; */
  left: 260px;
  right: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  height: 60px;
  /* z-index: 100000; */
  background: rgb(225 225 225 225 / 100%);
  /* backdrop-filter: saturate(180%) blur(100px); */
  box-shadow: rgb(116 116 116 / 7%) 0px 5px 29px 3px;
}

header.close .sticky {
  left: 78px;
  width: calc(100% - 78px);
}

.sidebar.close .navbar_popop {
  left: 78px;
  width: calc(100% - 500px);
}

header.sticky {
  padding: 6px 100px;
  color: #000000;
  background: rgb(225 225 225 225 / 100%);
  backdrop-filter: saturate(180%) blur(100px);
  box-shadow: rgb(116 116 116 / 7%) 0px 5px 29px 3px;
}

header.sticky .logo {
  color: #ff0000;
}

header.sticky ul li a {
  color: #313638;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #ff0000;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  text-decoration: none;
  color: #313638;
  font-weight: 500px;
  transition: 0.6s;
  font-weight: 500;
  margin: 0 15px;
}

@media (max-width: 600px) {
  header ul li a {
    position: relative;
    text-decoration: none;
    color: #313638;
    font-weight: 500px;
    transition: 0.6s;
    font-weight: 500;
    margin: 0 0px;
  }
}

/* -----Navbar End-------- */
